<ion-view title="Choose Provider" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="chooseProvider-form2" class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="type to search..">
      </label>
      <ion-list id="chooseProvider-list1">
        <ion-item id="chooseProvider-list-item6">Provider 1</ion-item>
        <ion-item id="chooseProvider-list-item7">Provider 2 </ion-item>
        <ion-item id="chooseProvider-list-item8">Provider 3</ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>