<ion-view title="Home" name="default">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 53px;"></div>
    <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Welcome to
        <strong>Christiana HealthCare</strong> Mobile App. Use one of the buttons below to schedule a new appointment or manage your existing appointment.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 49px;"></div>
    <a ui-sref="newAppointment" id="home-button1" class="button button-positive  button-block icon-left ion-android-add">New Appointment</a>
    <a ui-sref="manageAppointment" id="home-button2" class="button button-positive  button-block icon-left ion-edit">Manage Your Appointment</a>
  </ion-content>
</ion-view>