<ion-view title="Manage Appointment" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="manageAppointment-form4" class="list">
      <div id="manageAppointment-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Please use your appointment confirmation number and your last name that you entered during scheduling of the appointment to continue.</p>
      </div>
      <label class="item item-input item-stacked-label" id="manageAppointment-input9" name="appointmentNumber">
        <span class="input-label">Appointment Number</span>
        <input type="number" placeholder="type in your appointment number">
      </label>
      <label class="item item-input item-stacked-label" id="manageAppointment-input10" name="lastName">
        <span class="input-label">Last Name</span>
        <input type="number" placeholder="type in your last name">
      </label>
      <button id="manageAppointment-button6" class="button button-positive  button-block">Continue</button>
    </form>
  </ion-content>
</ion-view>