<ion-view title="New Appointment" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="newAppointment-form1" class="list">
      <label class="item item-input" id="newAppointment-input4" name="firstName">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="type your first name..">
      </label>
      <label class="item item-input" id="newAppointment-input3" name="lastName">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="type your last name..">
      </label>
      <label class="item item-input" id="newAppointment-input5" name="phone">
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="your phone number">
      </label>
      <label class="item item-input" id="newAppointment-input6" name="email">
        <span class="input-label">Email</span>
        <input type="email" placeholder="type your email">
      </label>
      <button id="newAppointment-button3" class="button button-positive  button-block">Continue</button>
    </form>
  </ion-content>
</ion-view>