<ion-view title="Schedule Appointment" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="scheduleAppointment-form3" class="list">
      <label class="item item-select" id="scheduleAppointment-select3" name="year">
        <span class="input-label">Year</span>
        <select>
          <option>2016</option>
          <option>2017</option>
          <option>2018</option>
        </select>
      </label>
      <label class="item item-select" id="scheduleAppointment-select4" name="month">
        <span class="input-label">Month</span>
        <select>
          <option>Jan -01</option>
          <option>Feb - 02</option>
          <option>Mar - 03</option>
          <option>Apr - 04</option>
          <option>May - 05</option>
          <option>Jun - 06</option>
          <option>Jul - 07</option>
          <option>Aug - 08</option>
          <option>Sep - 09</option>
          <option>Oct - 10</option>
          <option>Nov - 11</option>
          <option>Dec - 12</option>
        </select>
      </label>
      <label class="item item-select" id="scheduleAppointment-select1" name="day">
        <span class="input-label">Day</span>
        <select></select>
      </label>
      <label class="item item-select" id="scheduleAppointment-select2" name="time">
        <span class="input-label">Time</span>
        <select></select>
      </label>
      <button id="scheduleAppointment-button4" class="button button-positive  button-block">Confirm Appointment</button>
    </form>
  </ion-content>
</ion-view>